<!-- Form flight airports and dates -->
<form [formGroup]="flightForm" (ngSubmit)="searchPlane(flightForm.value)">
  <div>
    <label for="departure_airport">Departure airport:</label>
    <input list="departure_airport_list" formControlName="departure_airport" type="text"/>
    <label for="departure_date">Departure date:</label>
    <input type="date" id="departure_date" formControlName="departure_date"
           [min]="today() | date:'yyyy-MM-dd'"
           [max]="DateOrTodayPlus(flightForm.value.arrival_date, 365) | date:'yyyy-MM-dd'"/>
  </div>
  <div>
    <label for="arrival_airport">Arrival airport:</label>
    <input list="arrival_airport_list" formControlName="arrival_airport" type="text"/>
    <label for="arrival_date">Arrival date:</label>
    <input type="date" id="arrival_date" formControlName="arrival_date"
           [min]="dateOrToday(flightForm.value.departure_date) | date:'yyyy-MM-dd'"/>
  </div>
  <button type="submit">Submit</button>
</form>

<!-- suggestions for input airport -->
<datalist id="departure_airport_list" *ngIf="airports.length">
  <option *ngFor="let airport of (airports | airportSelector:flightForm.value.departure_airport)" value="{{airport.display()}}">
</datalist>
<datalist id="arrival_airport_list" *ngIf="airports.length">
  <option *ngFor="let airport of (airports | airportSelector:flightForm.value.arrival_airport)" value="{{airport.display()}}">
</datalist>

<!-- Debug messages -->
  <h2>Debug Messages</h2>
  <button class="clear"
          (click)="messages=[]">clear</button>
  <div *ngFor='let message of messages'> {{message}} </div>